<!-- Nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div id="homeIconDiv" class="col-xs-4">
      <a href="#/" id="navLink">
        <span id="navIcon"  class="glyphicon glyphicon-home"></span>
        <span id="navLabel">Store</span>
      </a>
    </div>
    <div class="col-xs-4">
      <h1 class="navTitle">The Shop</h1>
    </div>
    <div ng-if="!client.isAuth">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#register">Register</button>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login">Login</button>
    </div>

    <div ng-if="client.isAuth" id="cartIconDiv" class="col-xs-4">
        <a href="#cart" id="navLink">
          <span id="navIcon"  class="glyphicon glyphicon-shopping-cart"></span>
          <span id="navLabel">Cart ({{$root.cartCount}})</span>
        </a>
      </div>
  </div>
</nav>


<!-- Login Modal -->
<div class="modal fade" id="login" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <label>
          username<span class="req">*</span>
        </label>
        <input ng-model="client.username" type="text" required autocomplete="off"/>
        <label>
          password<span class="req">*</span>
        </label>
        <input ng-model="client.password" type="password" required autocomplete="off"/>
      </div>
      <div class="modal-footer">
        <button ng-click="client.login()" type="button" class="btn btn-default">Login</button>
      </div>
    </div>
    
  </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="register" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          <label>
            username<span class="req">*</span>
          </label>
          <input ng-model="client.username" type="text" required autocomplete="off"/>
          <label>
            password<span class="req">*</span>
          </label>
          <input ng-model="client.password" type="password" required autocomplete="off"/>
        </div>
        <div class="modal-footer">
          <button ng-click="client.register()" type="button" class="btn btn-default">Register</button>
        </div>
      </div>
      
    </div>
  </div>